<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this Jupyter notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>List several popular Data Science tools.</li>
    <li>Show some simple arithmetic in Python.</li>
</ul>

Some of the popular languages that Data Scientists use are:<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Tensorflow</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Pandas</li>
    <li>Pytorch</li>
</ol>

<table >
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>SAS</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to multiply, then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<h2>Author:</h2>
<p>Nicolas Morawski</p>